<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUZ_KIP4zyv0l7JlXA1nZgEzK0WZ9etJA</string>
	<key>GCM_SENDER_ID</key>
	<string>290377575854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careerPortal</string>
	<key>PROJECT_ID</key>
	<string>careers-portal-3fd21</string>
	<key>STORAGE_BUCKET</key>
	<string>careers-portal-3fd21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290377575854:ios:51ab284d49a4f88a7aac3f</string>
</dict>
</plist>